// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'welcome.scss';

@import 'navbar.scss';

@import 'homemed.scss';

@import 'auth.scss';

@import 'all.scss';