.cardCheckup{
	box-shadow: 0 0 1em #f073ad;
}
.titleCard{
	background-color:#f073ad;
	color:#021859;
}
.titleCheckup{
	text-align:center!important;
	font-size:20px;
}
.breadcrumb-item.active {
    color: #021859;
}
.btnDeletar{
    background-color: #ff5252;
    color: white!important;
    border:3px solid #ff5252;
    transition-duration: 0.3s;
    border-radius:42px;
    padding:5px 30px!important;
    text-decoration:none!important;
} 
.btnDeletar:hover{
    background-color: #ff5252;
    color: white!important;
    box-shadow: -4px 4px 3px 1px #f93d3d;
} 
.btnDetalhes{
    background-color: #6c85ff;
    color: #fff!important;
    border:3px solid #6c85ff;
    transition-duration: 0.3s;
    border-radius:42px;
    padding:5px 30px!important;
    text-decoration:none!important;
}
.btnDetalhes:hover{
    background-color: #6c85ff;
    color: white!important;
    box-shadow: -4px 4px 3px 1px #516df7;
}
.btnNovoCheckup{
	background-color: #f073ad;
    color: #000!important;
    border:3px solid #f073ad;
    transition-duration: 0.3s;
    border-radius:42px;
    padding:7px 31px!important;
    text-decoration:none!important;
}

.btnNovoCheckup:hover{
    background-color: #f073ad;
    color: black!important;
    box-shadow: -4px 4px 3px 1px #c45287;
} 
#aC{
    color:#021859;
}
.btnEditar{
    background-color: #b672f5;
    color: white!important;
    border:3px solid #b672f5;
    transition-duration: 0.3s;
    border-radius:42px;
    padding:7px 31px!important;
    text-decoration:none!important;
}

.btnEditar:hover{
    background-color: #b672f5;
    color: white!important;
    box-shadow: -4px 4px 3px 1px #9355cc;
} 