#cardPainel{
	background-color:#0E2773;
	color:#fff;
	opacity:0.7;
}
.buttonPainel{
	margin:20px!important;
}
.card-header{
	font-size:20px;
}
a{
	font-size:18px;
}
.cardMed{
	padding:30px;
}
.cardList{
	padding:3em;
}