            html, body {
                background-color: #021859;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
                background-size: cover;
                background-blend-mode: luminosity;
                background-image: url('../../public/images/bg-home.jpg');
                
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                color:#f073ad;
                position: fixed;
                top:3%;
                left:8%;
                font-size:3em;
                text-shadow: 2px 2px 3px #032CA6;
            }
            .linkHome{
                background-color: #f073ad;
                color: #000!important;
                border:3px solid #f073ad;
                transition-duration: 0.3s;
                border-radius:42px;
                padding:16px 31px!important;
            }  
            .linkHome:hover{
                background-color: #f073ad;
                color: black!important;
                box-shadow: -4px 4px 3px 1px #c45287;
            } 
            .links ,.linkHome{
                margin: 15px;
            }
            .textoExp{
                color:#f073ad;
                font-size: 3em;
                text-align: left;
                font-family: 'Patua One', cursive;
                text-shadow: 2px 2px 3px #000;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #032CA6;
            }